.button{
    width: auto;
    min-width: 11.8rem;
    height: auto;
    min-height: 2.7rem;
    color: var(--primary-color);
    font-weight: bold;
    background-color: var(--primary-color);
    border-radius: 6px;
    border: none;
    transition: .2s;
}

.button > *{
    color: var(--tertiary-color);
}

.button:hover{
    background-color: var(--primary-color-hover);
    transform:scale(.97);
}

.accentColor{
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.accentColor:hover{
    color: var(--primary-color);
    transform:scale(.97);
    background-color: var(--accent-color-hover);
}