.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.594);
    z-index: 99;
    visibility: hidden;  
    opacity: 0;  
}

.container.close{
    animation: close .3s ease-in-out;
}

.container.active{
    visibility: visible;
    opacity: 1;
    animation: appear .3s ease-in-out;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.formContainer{
    width: 100%;
    max-width: 28.2rem;
    padding: 1.5rem 1rem;
    background-color: var(--tertiary-color-75);
    box-shadow: .1rem .2rem .4rem rgba(0, 0, 0, 0.05);
    transition: .5s;
}


.form input{
    width: 100%;
    padding: .2rem ;
    color: var(--primary-color);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--secondary-color-75);
    transition: .5s;
}

.form textarea{
    width: 100%;
    padding: .5rem;
    min-height: 10rem;
    color: var(--primary-color);
    background-color: transparent;
    border: 2px solid var(--secondary-color-75);
    border-radius: 3px;
    transition: .5s;
}

.form input:focus , .form textarea:focus{
    outline: none;
    box-shadow: 0 .35rem 0.625rem -0.25rem rgba(0, 0, 0, 0.175);
}

.modal{
    width: 85%;
    max-width: 20rem;
    height: auto;
    text-align: center;
    padding: 1.2rem;
    border-radius: .5rem;
    background-color: var(--background-color-secondary);
}

.modalBody{
    width: 100%;
    text-align: center;
}

.modalTitle{
    width: 100%;
    padding: .5rem;
}

.modalTitle p{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

@keyframes close {
    0%{
        opacity: 1;
        visibility: visible;    

    }
    99%{
        opacity: .1;
        visibility: visible;    
    }
    100%{
        opacity: 0;
        visibility: hidden;
        transition: 0;
    }
}


@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}