/* NORMALIZE */
*,::after,::before{
    box-sizing: border-box;
}

html , body{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}

h1{
    font-size:2rem;
}

h2{
    font-size:1.5rem;
}

h3{
    font-size:1.25rem;
}

h4{
    font-size:1.125rem;
}

h5{
    font-size:1rem;
}

h6{
    font-size:0.875rem;
}

/* CSS VARIABLES */
    /* Light Mode Colors */
:root{
    /* Colors */
    --primary-color: rgb(51,51,51);
    --primary-color-hover: rgb(88, 88, 88);
    --primary-color-75: rgba(51,51,51,0.75);
    --secondary-color: rgb(112,112,112);
    --secondary-color-75: rgba(112,112,112,0.75);
    --tertiary-color: rgb(221,221,221);
    --tertiary-color-75: rgba(221,221,221,0.75);

    /* Backgrounds */
    --background-color-primary: rgb(255,255,255);
    --background-color-secondary: rgb(252, 252, 252);
    --background-color-tertiary: rgb(221,221,221);

    /* Accent color */
    --accent-color: rgb(255,165,0);
    --accent-color-hover: rgb(227, 147, 0);
    --accent-color-25: rgb(255,165,0,0.25);

    /* Theme Switch Colors */
    --switch-color-light: rgb(244,244,244);
    --switch-color-dark: rgb(51,51,51);
    --switch-icon-background: rgb(255, 255, 255);
    --switch-icon-color: rgb(221,221,221);

    /*SHADOW COLOR*/
    --shadow-color: rgba(51,51,51 , .25);
}

/*DARK MODE COLORS*/

 /* Light Mode Colors */
 body[data-theme="dark"]{
    /* Colors */
    --primary-color: rgb(233, 233, 233);
    --primary-color-hover: rgb(171, 171, 171);
    --primary-color-75: rgba(233, 233, 233 , 0.75);
    --secondary-color: rgb(132, 132, 132);
    --secondary-color-75: rgba(132, 132, 132, 0.75);
    --tertiary-color: rgb(88, 88, 88);
    --tertiary-color-75: rgba(88, 88, 88,0.75);

    /* Backgrounds */
    --background-color-primary: rgb(51,51,51);
    --background-color-secondary: rgb(62, 62, 62);
    --background-color-tertiary: rgb(88, 88, 88);

     /* Accent color */
     --accent-color: rgb(245, 159, 0);
     --accent-color-hover: rgb(227, 147, 0);
     --accent-color-25: rgb(255,165,0,0.25);

    /*SHADOW COLOR*/
    --shadow-color: rgb(233, 233, 233 , .50);

}


/*           */
p,span,small,a,h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
    transition: .5s;
}

/*When the language is change, appli a fede to the text for smooth change*/
body.fadeText p, body.fadeText span,body.fadeText small,body.fadeText li, body.fadeText h1,body.fadeText h2, body.fadeText h3,body.fadeText h4,body.fadeText h5,body.fadeText h6{
    animation: fadeOutText .5s ease-out , fadeInText .5s ease-out .5s;
}

.bg-1{
    background-color: var(--background-color-primary);
}

.bg-2{
    background-color: var(--background-color-secondary);
}


.icon{
    width:2.5rem ;
    height: 2.5rem;
    fill: var(--primary-color);
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 2rem 1rem 3rem 1rem;
    transition: .5s;
}

@media screen and (min-width: 992px){   /* 992px is lg breakpoint value*/
    .section{
        scroll-margin-top: 2.7rem ;
    }
}

@keyframes fadeInText {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeOutText
{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}