.cardBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.cardBody > h2{
    width: max-content;
    margin: 0;
}

.cardButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.7rem;
}

.cardContainer{
    row-gap: 1rem;
}

.cardDescription > ul{
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.cardDescription li{
    color: var(--primary-color);
    transition: .5s;
}

.cardDescription span{
    font-weight: bold;
}
