.infoHeader{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 8.125rem;
    height: 8.125rem;
    animation: fallElement 2s cubic-bezier(0.075, 0.82, 0.5, 1); 
}

.avatarContainer {
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--tertiary-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0.125rem 0.18rem 0.625rem  ;
}

.avatarContainer img{
    width: 100%;
    height: 100%;
}

.contactButton{
    animation: fallElement 5s cubic-bezier(.8, .1, .15, 1); 
}

.contactButton.active{
    animation: scale 2.3s ease-in-out infinite;
}

.heroContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: 2.5rem 0;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.625rem;
}

.textContainer{
    animation: fallElement 3.4s cubic-bezier(0.6, 0, 0.1, 1); 
}

.textContainer > h3 , .textContainer > h1{
    color: var(--primary-color);
    line-height: 1;
}

.textContainer > h1{
    color: var(--accent-color);
}

@keyframes scale {
    0%{
        transform:scale(1)
    }
    50%{
        transform: scale(1.03)
    }
    100%{
        transform: scale(1)
    }
}


@keyframes fallElement {
    0%{
        opacity: 0;
        transform: translateY(-100vh);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}