.titleContainer{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.titleContainer::after{
    position: absolute;
    content: "";
    width: 5rem;
    height: 1.3px;
    bottom: 0;
    background-color: var(--accent-color);
}

.titleContainer > *{
    margin: 0 0 .6rem 0;
    word-break: keep-all;
}

