.titleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    min-width: 12rem;
    height: auto;
    min-height: 2.875rem;
    border-top:1px solid var(--accent-color);
    border-bottom:1px solid var(--accent-color);
    padding-left: 1rem;
    padding-right: 1rem;
}

.titleContainer > *{
    margin: 0;
}

