.container{
    background-color: var(--background-color-secondary);
    padding-bottom: 4rem !important;
}

@media screen and (min-width: 992px) {  /* 992px is lg breakpoint in bootstrap */
    .container{
        background-color: var(--background-color-primary);
    }
}